:root {
    --main-color: #00B074;
    --secondary-color: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
    --heebo: 'Heebo', sans-serif;
    --inter: 'Inter', sans-serif;
}

body {
    font-family: var(--heebo);
    background-color: var(--light);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*------------------------------ Buttons ------------------------------*/

.btn {
    font-family: var(--inter);
    font-weight: 600;
    transition: .4s;
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #24BB88;
    border-color: #24BB88;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #FFFFFF;
}

.btn-secondary:hover {
    background-color: #4BAAFF;
    border-color: #4BAAFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

/*------------------------------ NavBar ------------------------------*/

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    vertical-align: middle;
    margin-left: 5px;
    transition: .4s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--main-color);
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 74px;
}

.navbar-light h1 {
    color: var(--main-color);
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 600;
    margin-right: 30px;
    padding: 25px 0;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        transform: rotateX(90deg);
        transform-origin: top;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .4s;
        opacity: 1;
    }
}

/*------------------------------ Carousel ------------------------------*/

.header-carousel .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--main-color);
}

.header-carousel .container::before,
.header-carousel .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--main-color);
}

.header-carousel .container::after {
    top: 100%;
    margin-top: -15px;
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 22px;
    cursor: pointer;
    transition: .4s;
    transform: translateY(-50%);
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--main-color);
    border-color: var(--main-color);
}

.header-carousel .owl-carousel-item h2 {
    font-family: var(--inter);
}

.owl-carousel-item .btn {
    border-radius: 0;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h2 {
        font-size: 30px;
        font-weight: 600;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
    }

    .header-carousel .owl-nav {
        transform: translateY(90%);
    }

    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin: 7px 0;
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

/*------------------------------ Search ------------------------------*/
.search {
    padding: 35px;
    background-color: var(--main-color);
}

/*------------------------------ Category ------------------------------*/
.head {
    font-weight: 700;
    font-size: calc(1.375rem + 1.5vw);
}

.cat-item {
    color: var(--main-color);
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border: 1px solid transparent;
    transition: .4s;
}

.cat-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}

.cat-item h6 {
    color: var(--dark);
    font-weight: 700;
}